<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="57x57" href="static/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="static/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="static/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="static/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="static/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="static/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="static/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="static/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="static/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="static/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
        <link rel="manifest" href="static/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="static/css/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="static/css/main.css">
    </head>
    <body>
        <div id="page">
            <div id="header">
                <img class="lowes-logo" src="static/svg/LowesLogo_DT.svg" alt="Lowe's logo" \>
            </div>
            <div id="app">
                <div id="display">
                    <div id="products-window">
                        <product-card
                            v-for="product in products"
                            v-bind:product="product"
                            v-bind:key="product.id"
                        ></product-card>
                    </div>
                </div>
                <div id="chat">
                    <div id="chat-log">
                        <message-item
                            v-for="msg in messages.slice().reverse()"
                            v-bind:message="msg"
                            v-bind:class="msg.author"
                            v-bind:key="msg.id"
                        ></message-item>
                    </div>
                    <img class="lowes-pagoda" src="static/svg/pagoda.svg" alt="Lowe's pagoda" \>
                    <div id="chat-input-box">
                        <textarea id="chat-input">Type here...</textarea>
                        <button onclick="submitMessage()">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript">
            var productsList = [
                { id: 0, title: 'Samsung 4.5-cu ft High Efficiency Stackable Front-Load Washer (Merlot) ENERGY STAR', src: 'https://mobileimages.lowes.com/product/converted/887276/887276250946lg.jpg', price: '$649.00'}, 
                { id: 1, title: 'Samsung 4.5-cu ft High Efficiency Stackable Front-Load Washer (Merlot) ENERGY STAR', src: 'https://mobileimages.lowes.com/product/converted/887276/887276250946lg.jpg', price: '$649.00'}, 
                { id: 2, title: 'Samsung 4.5-cu ft High Efficiency Stackable Front-Load Washer (Merlot) ENERGY STAR', src: 'https://mobileimages.lowes.com/product/converted/887276/887276250946lg.jpg', price: '$649.00'}, 
                { id: 3, title: 'Samsung 4.5-cu ft High Efficiency Stackable Front-Load Washer (Merlot) ENERGY STAR', src: 'https://mobileimages.lowes.com/product/converted/887276/887276250946lg.jpg', price: '$649.00'}, 
                { id: 4, title: 'Samsung 4.5-cu ft High Efficiency Stackable Front-Load Washer (Merlot) ENERGY STAR', src: 'https://mobileimages.lowes.com/product/converted/887276/887276250946lg.jpg', price: '$649.00'}, 
                { id: 5, title: 'Samsung 4.5-cu ft High Efficiency Stackable Front-Load Washer (Merlot) ENERGY STAR', src: 'https://mobileimages.lowes.com/product/converted/887276/887276250946lg.jpg', price: '$649.00'}, 
                { id: 6, title: 'Samsung 4.5-cu ft High Efficiency Stackable Front-Load Washer (Merlot) ENERGY STAR', src: 'https://mobileimages.lowes.com/product/converted/887276/887276250946lg.jpg', price: '$649.00'}
            ];

            Vue.component('product-card', {
                props: ['product'],
                template: '<div class="product">' +
                          '    <img class="product-image" :src="product.src" alt="Product Image" \>' +
                          '    <h6 class="product-title">{{ product.title }}</h6>' +
                          '    <span class="product-price">{{ product.price }}</span>' +
                          '</div>'
            });

            var products_window = new Vue({
                el: '#products-window',
                data: {
                    products: productsList
                }
            })
        </script>
        <script type="text/javascript">
            var messageHistory = [
                { id: 0, text: 'Yes, can I have a dozen red roses please.', author: 'author-user', datetime: 'December 25, 1995 23:15:20' },
                { id: 1, text: 'Oh hai Johnny, I didn\'t know it was you.', author: 'author-other', datetime: 'December 25, 1995 23:15:20' },
                { id: 2, text: 'That\'s me. How much is it?', author: 'author-user', datetime: 'December 25, 1995 23:15:20' },
                { id: 3, text: 'That\'ll be $18.', author: 'author-other', datetime: 'December 25, 1995 23:15:20' },
                { id: 4, text: 'Here you go, keep the change, hai doggy.', author: 'author-user', datetime: 'December 25, 1995 23:15:20' },
                { id: 5, text: 'You\'re my favorite customer.', author: 'author-other', datetime: 'December 25, 1995 23:15:20' },
                { id: 6, text: 'Thanks a lot. Bye.', author: 'author-user', datetime: 'December 25, 1995 23:15:20' }
            ];

            var addMessageToLog = function(message, author) {
                if (message == '') {
                    return;
                }

                var msg_count = messageHistory.length;
                var message = {
                    id: msg_count,
                    text: message,
                    author: author,
                    datetime: 'December 25, 1995 23:15:20'
                }
                messageHistory.push(message);
            }

            var submitMessage = function() {
                var message_element = document.getElementById('chat-input');
                addMessageToLog(message_element.value, 'author-user');
                message_element.value = '';
            }

            var scrollChatToBottom = function() {
                var chat_log = document.getElementById('chat-log');
                chat_log.scrollTop = chat_log.scrollHeight;
            }

            Vue.component('message-item', {
                props: ['message'],
                template: '<div class="message">' +
                              '<div class="message-content">{{ message.text }}</div>' + 
                              '<div class="message-datetime">{{ message.datetime }}</div>' +
                          '</div>'
            })

            var chat = new Vue({
                el: '#chat-log',
                data: {
                    messages: messageHistory
                },
                updated: scrollChatToBottom
            })
        </script>
    </body>
</html>